body{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    text-align: center;
    background-image: url("tlo.jpg");
    color: #fff;
    font-family: Verdana, Arial, Tahoma;
}
#container
{
    width: 700px;
    margin: auto;
    overflow: hidden;
}
#slider {
    display: flex;
    position: relative;
}
#slider img {
    flex-shrink: 0;
}