body{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
#container
{
    width: 60%;
    margin: auto;
    overflow: hidden;
    border: 5px solid black;
}
#slider {
    display: flex;
    position: relative;
}
#slider img {
    flex-shrink: 0;
}